#quickview_popup_wapper{
    display: none;
    position: absolute;
    top:46px;
    left: 200px;
    overflow: hidden;
    z-index: 999999;
}
#quickview_popup_wapper iframe{
    width: 575px;
    height:570px;
    overflow-y: auto;
	overflow-x: hidden;
    border: none;
    display: block;
}
#quickview_popup_wapper html{overflow:hidden;}

#product_option_popup_wapper{
    display: none;
    position: absolute;
    top:150px;
    left: 400px;
    overflow: hidden;
}

#product_option_popup_wapper iframe{
    width: 400px;
    height:570px;
    overflow-y: auto;
	overflow-x: hidden;
    border: none;
    display: block;
}
#product_option_popup_wapper html{overflow:hidden;}

#bModal_canvas{background:#fff!important; opacity: 0.95!important;}

.shown-popup{}
.shown-popup .shown-popup-top{display:block; width:100%; text-align:left; text-indent:-9999em; background:url(images/bkg-shown-top.png) bottom center no-repeat; height:19px; line-height:18px; width:664px; max-width:664px; }
.shown-popup .shown-popup-content{display:block; background:url(images/bkg-shown-center.png) bottom center repeat-y; padding:10px 20px; width:624px; max-width:624px; position:relative;}
.shown-popup .shown-popup-bottom{display:block; width:100%; text-align:left; text-indent:-9999em; background:url(images/bkg-shown-bottom.png) bottom center no-repeat; height:22px; line-height:18px; width:664px; max-width:664px;}
.shown-popup .page-title{position:relative; margin-left:-5px;}
.shown-popup .page-title h1, 
.shown-popup .page-title h2{color:#f26522; font-size:76px; font-weight:normal; font-family: 'bdblackblack_black',arial; text-transform:uppercase; line-height: 80px; margin: 0; padding: 3px 0 0; text-align:left;}
.shown-popup .page-title h1 label, 
.shown-popup .page-title h2 label{color:#000; font-size:16px; font-weight:normal; font-family: 'bdblackblack_black',arial; display:block; clear:both; line-height: 42px;  padding: 0 0 0 7px;}
.shown-popup  .close-popup{ display:block; text-align:left; text-indent:-9999em; background:url(images/bkg-shown-top.png) bottom center no-repeat; background:url(images/btn-close.png) 0 0 no-repeat; height:29px; width:29px; position:absolute; right:40px; top:17px; z-index:2;}
.shown-popup p.note{color:#505050; font-size: 15px; line-height: 16px; padding: 3px 0 0; text-align: left;font-family: 'bdmediumblack_medium';}
.shown-popup .form-list-popup{clear:both; margin:0 0 3px;}
.shown-popup .form-list-popup label{display:block; text-align:left; font-size:15px;  color:#fff; font-family: 'bdboldblack_bold'; font-weight:normal; position:absolute; left:15px; top:0; line-height:49px;}
.shown-popup .form-list-popup .hiddenlabel label{display:none;}
.shown-popup .form-list-popup label em{display:none;}
.shown-popup .form-list-popup li{margin:0 0 5px; position:relative;}
.shown-popup .form-list-popup .input-box{text-align:left; width:550px;}
.shown-popup .form-list-popup input.input-text{ font-size:15px; color:#fff; font-family: 'bdboldblack_bold',arial; border:0; background:#cdcdcd; padding:15px 15px 14px; width:540px; font-weight:normal;}
.shown-popup .form-list-popup .field{margin:0 0 5px; position:relative;}
.shown-popup .form-list-popup li.fields{margin:0;}
.shown-popup .form-list-popup li.control label{display:block;}
.shown-popup .buttons-action{display:block;}
.shown-popup .buttons-action a{margin:0!important;}
.shown-popup  button.button{float:left; margin-left:0; margin-right:20px;}
.shown-popup  button.button span{}
.shown-popup  button.button span span{}
.shown-popup .shown-scroll{max-height:670px; overflow-y: hidden; overflow-x: hidden; padding:0 30px;}

.login-form.shown-popup  a,
.signup-form.shown-popup a.links-other{color:#f26522; text-decoration:none; font-size:15px;  font-family: 'bdboldblack_bold',arial; line-height:42px; margin:0 0 27px;}
.login-form.shown-popup p.required{display:none;}

.signup-form.shown-popup .form-list-popup li.control label{color:#505050; font-size: 15px; line-height: 16px; padding: 3px 0 0; text-align: left;font-family: 'bdmediumblack_medium'; display:inline; line-height:35px; position:static;}
.signup-form.shown-popup .form-list-popup li.control input.checkbox{margin-top:-5px; margin-right:7px;}
.signup-form.shown-popup .buttons-set{margin:0; border:0;}
.signup-form.shown-popup a.links-other{margin:-9px 0 5px;}
/* Clear */
.shown-popup .shown-popup-top:after,
.shown-popup .shown-popup-conten:after,
.shown-popup .shown-popup-bottom:after,
.shown-popup .buttons-action:after,
.shown-scroll:after{ display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

.preview.shown-popup{ }
.preview.shown-popup .shown-popup-top{background-image:url(images/bkg-shown-top-1.png);}
.preview.shown-popup .shown-popup-content{background-image:url(images/bkg-shown-center-1.png); max-width:564px; width:564px; padding: 10px 50px;}
.preview.shown-popup .shown-popup-bottom{background-image:url(images/bkg-shown-bottom-1.png); height:21px;}
.preview.shown-popup .page-title h1, 
.preview.shown-popup .page-title h2{font-size:69px; margin-top: -10px;}
.bModal{background:#fff!important}
.preview.shown-popup .shown-scroll{padding:0 30px; max-height:none; overflow-y: hidden;}
.preview .block-social{ clear: both; padding: 15px 0 0;}
.preview .block-social h2{color:#37589a; font-size:31px; font-weight:normal; font-family: 'bdblackblack_black',arial; text-align:left;}
.quickview-popup-view .product-options{width:550px; padding: 10px 0 0;}
.quickview-popup-view .social-network-box .addthis_button_tweet iframe{margin-bottom:10px;}
.quickview-popup-view .box-timeinstrainsit{display:none;}

