<?xml version="1.0"?>
<config>
    <modules>
        <MW_CartPopup>
            <version>1.0.0</version>
        </MW_CartPopup>
    </modules>
    <global>
        <models>
            <cartpopup>
                <class>MW_CartPopup_Model</class>
            </cartpopup>
        </models>
        <blocks>
            <cartpopup>
                <class>MW_CartPopup_Block</class>
            </cartpopup>
        </blocks>
        <helpers>
            <cartpopup>
                <class>MW_CartPopup_Helper</class>
            </cartpopup>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <cartpopup>
                    <file>mw_cartpopup.xml</file>
                </cartpopup>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <controller_action_layout_generate_blocks_after_setlayout>
                        <type>singleton</type>
                        <class>cartpopup/observer</class>
                        <method>setLayoutForCartPopup</method>
                    </controller_action_layout_generate_blocks_after_setlayout>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <controller_action_postdispatch_checkout_cart_index>
                <observers>
                    <controller_action_postdispatch_cartpopup>
                        <type>singleton</type>
                        <class>cartpopup/observer</class>
                        <method>postdispatchOpenCartPopup</method>
                    </controller_action_postdispatch_cartpopup>
                </observers>
            </controller_action_postdispatch_checkout_cart_index>
        </events>
    </frontend>
</config>