<?xml version="1.0"?>
<config>
    <modules>
        <MW_LoginPopup>
            <version>1.0.0</version>
        </MW_LoginPopup>
    </modules>
    <frontend>
        <layout>
            <updates>
                <mw_loginpopup>
                    <file>mw_loginpopup.xml</file>
                </mw_loginpopup>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch_customer_account_loginPost>
                <observers>
                    <mw_loginpopup_postdispatch_customer_account_loginPost>
                        <type>singleton</type>
                        <class>mw_loginpopup/observer</class>
                        <method>loginPopupHookLogin</method>
                    </mw_loginpopup_postdispatch_customer_account_loginPost>
                </observers>
            </controller_action_postdispatch_customer_account_loginPost>
        </events>
    </frontend>
    <global>
        <models>
            <mw_loginpopup>
                <class>MW_LoginPopup_Model</class>
            </mw_loginpopup>
        </models>
        <blocks>
            <mw_loginpopup>
                <class>MW_LoginPopup_Block</class>
            </mw_loginpopup>
        </blocks>
        <helpers>
            <mw_loginpopup>
                <class>MW_LoginPopup_Helper</class>
            </mw_loginpopup>
        </helpers>
        <resources>
            <mw_loginpopup_setup>
                <setup>
                    <module>MW_LoginPopup</module>
                </setup>
            </mw_loginpopup_setup>
        </resources>
    </global>
</config>