<?xml version="1.0"?>
<config>
    <modules>
        <MW_AdvancedCompare>
            <version>0.1.0</version>
        </MW_AdvancedCompare>
    </modules>
    <frontend>
        <layout>
        <updates>
            <advancedcompare>
                <file>mw_advancedcompare.xml</file>
            </advancedcompare>
        </updates>
    </layout>
        <routers>
            <advancedcompare>
                <use>standard</use>
                <args>
                    <module>MW_AdvancedCompare</module>
                    <frontName>advancedcompare</frontName>
                </args>
            </advancedcompare>
        </routers>
        <events>
            <controller_action_postdispatch_catalog_product_compare_add>
                <observers>
                    <mw_advancedcompare_product_compare_add>
                        <type>singleton</type>
                        <class>MW_AdvancedCompare_Model_Observer</class>
                        <method>postdispatchAddToCompare</method>
                    </mw_advancedcompare_product_compare_add>
                </observers>
            </controller_action_postdispatch_catalog_product_compare_add>
            <catalog_product_compare_add_product>
                <observers>
                    <mw_advancedcompare_product_compare_add_detect>
                        <type>singleton</type>
                        <class>MW_AdvancedCompare_Model_Observer</class>
                        <method>detectAddToCompare</method>
                    </mw_advancedcompare_product_compare_add_detect>
                </observers>
            </catalog_product_compare_add_product>
        </events>
    </frontend>
    <global>
        <models>
            <advancedcompare>
                <class>MW_AdvancedCompare_Model</class>
            </advancedcompare>
        </models>
        <blocks>
            <advancedcompare>
                <class>MW_AdvancedCompare_Block</class>
            </advancedcompare>
        </blocks>
        <helpers>
            <advancedcompare>
                <class>MW_AdvancedCompare_Helper</class>
            </advancedcompare>
        </helpers>
    </global>
</config>