<?xml version="1.0"?>
<config>
    <modules>
        <MW_CartAjax>
            <version>1.0.0</version>
        </MW_CartAjax>
    </modules>
    <frontend>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <checkout_cart_add_product_cartajax>
                        <type>singleton</type>
                        <class>cartajax/observer</class>
                        <method>addToCartAjax</method>
                    </checkout_cart_add_product_cartajax>
                </observers>
            </checkout_cart_add_product_complete>
            <controller_action_postdispatch_checkout_cart_add>
                <observers>
                    <postdispatch_cart_add_product_cartajax>
                        <type>singleton</type>
                        <class>cartajax/observer</class>
                        <method>postdispatchToCartAjax</method>
                    </postdispatch_cart_add_product_cartajax>
                </observers>
            </controller_action_postdispatch_checkout_cart_add>
        </events>
        <layout>
            <updates>
                <cartajax>
                    <file>mw_cartajax.xml</file>
                </cartajax>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <cartajax>
                <class>MW_CartAjax_Model</class>
            </cartajax>
        </models>
        <blocks>
            <cartajax>
                <class>MW_CartAjax_Block</class>
            </cartajax>
        </blocks>
        <helpers>
            <cartajax>
                <class>MW_CartAjax_Helper</class>
            </cartajax>
        </helpers>
    </global>
</config>