<?xml version="1.0"?>
<config>
    <modules>
        <MW_AdvancedWishlist>
            <version>0.1.0</version>
        </MW_AdvancedWishlist>
    </modules>
    <frontend>
        <layout>
            <updates>
                <advancedwishlist>
                    <file>mw_advancedwishlist.xml</file>
                </advancedwishlist>
            </updates>
        </layout>
        <routers>
            <advancedwishlist>
                <use>standard</use>
                <args>
                    <module>MW_AdvancedWishlist</module>
                    <frontName>advancedwishlist</frontName>
                </args>
            </advancedwishlist>
        </routers>
        <events>
            <controller_action_predispatch_wishlist_index_add>
                <observers>
                    <mw_advancedwishlist_predispatch_wishlist_index_add>
                        <type>singleton</type>
                        <class>MW_AdvancedWishlist_Model_Observer</class>
                        <method>predispatchWishlistAdd</method>
                    </mw_advancedwishlist_predispatch_wishlist_index_add>
                </observers>
            </controller_action_predispatch_wishlist_index_add>
            <wishlist_add_product>
                <observers>
                    <mw_advancedwishlist_wishlist_add_product>
                        <type>singleton</type>
                        <class>MW_AdvancedWishlist_Model_Observer</class>
                        <method>addWishlistDetect</method>
                    </mw_advancedwishlist_wishlist_add_product>
                </observers>
            </wishlist_add_product>
            <controller_action_postdispatch_wishlist_index_add>
                <observers>
                    <mw_advancedwishlist_postdispatch_wishlist_index_add>
                        <type>singleton</type>
                        <class>MW_AdvancedWishlist_Model_Observer</class>
                        <method>postdispatchWishlistAdd</method>
                    </mw_advancedwishlist_postdispatch_wishlist_index_add>
                </observers>
            </controller_action_postdispatch_wishlist_index_add>
        </events>
    </frontend>
    <global>
        <models>
            <advancedwishlist>
                <class>MW_AdvancedWishlist_Model</class>
            </advancedwishlist>
        </models>
        <blocks>
            <advancedwishlist>
                <class>MW_AdvancedWishlist_Block</class>
            </advancedwishlist>
        </blocks>
        <helpers>
            <advancedwishlist>
                <class>MW_AdvancedWishlist_Helper</class>
            </advancedwishlist>
        </helpers>
    </global>
</config>